<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <h2 th:text="${boardDto.title}"></h2>
    </div>
    <div class="mb-3">
      <label class="form-label">Writer</label>
      <h2 th:text="${boardDto.writer}"></h2>
    </div>
    <div class="mb-3">
      <label class="form-label">Content Area</label>
      <p th:text="${boardDto.content}"></p>
    </div>

  <a th:href="@{'/post/edit/' + ${boardDto.id}}"  class="btn btn-light">수정</a>

  <form id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post">
    <input type="hidden" name="_method" value="delete">
    <button id="delete-btn" class="btn btn-light">삭제</button>
  </form>

</div>
</body>
</html>